@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


#fondoHeader {

    background-color: cornflowerblue;
}

.tipografiaNunito {
    font-family: "Nunito", sans-serif;
}


.colorVerde {

    color:#2ecc71;  
}

.colorAmarillo {
    color: #f1c40f;
}

.colorBlanco {

    color: white;
}

.colorRojo {

    color: #e74c3c;
}

p {
    
    font-size: 1rem;
    line-height: 1.5;   
}

