@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.card-sticker {
    @include transicion-estandar; 
    border-radius: 15px !important;
    overflow: hidden;
    background-color: #fff !important;
    border: none !important;
    height: 100%;
    display: flex;
    flex-direction: column;

    &:hover {
        @include card-hover; 
    }

    .card-img-top {
        height: 200px !important;
        object-fit: contain !important; 
        padding: 1.5rem !important;
        background-color: #f8f9fa !important; 

        @include breakpoint('desktop') {
            height: 250px !important;
        }
    }

    .card-body {
        padding: 1.25rem;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .card-title {
            color: $color-logo !important; 
            font-size: 1.2rem;
            font-weight: bold;
        }

        .card-text {
            font-weight: bold;
            font-size: 1.1rem;
            color: #555 !important;
        }

        .btn {
            border-radius: 50px !important;
            @include transicion-estandar;

            &:hover {
                background-color: $color-acento !important; 
                color: #000 !important;
                border-color: $color-acento !important;
            }
        }
    }
}