@use 'variables' as *;

// Breakpoints
@mixin breakpoint($dispositivo){

    $tamanio: map-get($breakpoint, $dispositivo);

    @media (min-width: $tamanio) {
    @content;
    }      
}



// Efectos de escala y sombra 

@mixin card-hover{
      transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
}


@mixin transicion-estandar{

transition: all 0.3s ease-in-out !important;    

}


// Flexbox

@mixin flex-centro($direccion:row, $justificado: center,$alineado:center, $espaciado: 0){

    display: flex;
    flex-direction: $direccion;
    justify-content: $justificado;
    align-items: $alineado;
    gap: $espaciado;

}

/* Animaciones y efectos movimiento sticker principal */
@mixin animacion-flotar{
     
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}