// Efectos de escala y sombra 

@mixin card-hover{
      transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
}


@mixin transition-estandar{

transition: all 0.3s ease-in-out !important;    

}
